* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: "Lato", sans-serif;
}

.site-header {
    background-color: #2C2C2C;
    padding: 30px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-title {
    font-family: "a", serif;
    font-size: 24px;
    color: #d4af37;
    margin-left: 55px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 55px;
}

.nav-list a {
    color: #d4af37;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.nav-list a:hover {
    color: rgba(212, 175, 55, 0.8);
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    object-fit: cover;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.display-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2C2C2C;
    padding: 20px;
    text-align: center;
    color: #d4af37;
    font-family: "Lato", sans-serif;
    width: 1000px;
    height: 500px;
}

.display-box h1 {
    font-size: 50px;
    color: #d4af37;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

